<h1>&bull; TALK TO Simsimi &bull;</h1>
<div class="underline">
</div>

<div id="main" style="padding">
  <h2>dddh</h2>
</div>

<form action="/simsim/learn" method="get" id="contact_form">
  <div class="submit">
    <input type="submit" value="TEACH SIMSIMI" id="form_button" />
  </div>
</form>